.ContainerForm {
  margin-left: 3rem;
  display: flex;
  flex-direction: column;
}

.ContainerForm h2 {
  font-size: 2rem;
}

.FormCheckout {
  font-size: 1.6rem;
  margin-top: 3rem;
}

.FormCheckout [id^="step"] {
  animation: showLeft 1s ease-in-out forwards;
  opacity: 0;
  display: flex;
  flex-direction: column;
  position: relative;
  left: 50rem;
}

.FormCheckout label::before {
  content: "";
  width: 1.5rem;
  height: 0.8rem;
  background-color: bisque;
  display: inline-block;
  margin-right: 1rem;
}

.FormCheckout input {
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #dedede;
  margin-bottom: 2rem;
}

/* .FormCheckout input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  padding: 0.5rem;
  margin: 1rem;
  height: 1rem;
  border-radius: 50%;
  background-color: #646cff;
} */

.FormCheckout input:focus {
  background-color: #d8d7ff44;
  outline: 1px solid var(--color-s);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.FormCheckout label + input {
  margin-top: 0.5rem;
}
/* 
[id^="step"]:not(:target) {
  display: none;
}
[id^="step"]:target {
  display: flex;
} */

.ContainerBtn {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.Btn {
  color: var(--color-p);
  font-weight: 700;
  font-family: system-ui, sans-serif;
  text-transform: uppercase;
  font-size: 1.4rem;
  display: block;
  border-radius: 0.5rem;
  padding: 1rem;
  background-color: #646cff;
  min-width: 10rem;
  text-align: center;
}

@keyframes showLeft {
  to {
    opacity: initial;
    left: 0;
  }
}
