h2 {
  font-size: 2rem;
}

.form__checkout {
  font-size: 1.6rem;
  margin-top: 3rem;
}

.form__checkout [id^="step"] {
  animation: showLeft 0.5s ease-out forwards;
  opacity: 0;
  transform: translateX(50rem);
  display: flex;
  flex-direction: column;
  /* position: absolute; */
}

.form__checkout input {
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #dedede;
  margin-bottom: 2rem;
}

.form__checkout input:focus {
  background-color: #d8d7ff44;
  outline: 1px solid var(--color-s);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
}

.form__checkout label + input {
  margin-top: 0.5rem;
}

[id^="step"]:not(:target) {
  display: none;
}
[id^="step"]:target {
  display: flex;
}

@keyframes showLeft {
  to {
    opacity: initial;
    transform: initial;
    position: static;
  }
}
