#root {
  padding: 9rem 1.5rem;
  min-height: 100dvh;
  align-items: center;
  justify-content: center;
  display: flex;
  background: linear-gradient(to bottom right, #d8dee7, #d6dce5);
  flex-direction: column;
}

#root h1 {
  grid-column: span 2;
  font-size: 5rem;
  align-self: flex-start;
  margin-bottom: 3rem;
  line-height: 1.2;
}

main {
  max-width: 80rem;
  min-height: 80vh;
  margin: 0 auto;
  padding: 1rem;
  background-color: var(--color-p);
  border-radius: 1rem;
  display: grid;
  grid-template-columns: 2fr 3fr;
}

main section {
  border-radius: 1rem;
  overflow: hidden;
  padding: 3rem;
}

@media (max-width: 780px) {
  #root h1 {
    font-size: 3.6rem;
    grid-column: auto;
  }
  main {
    grid-template-columns: 1fr;
  }
  main section {
    padding: 1.5rem;
  }
}
